
Monzo/Monzo\.csv

Santander/Current/

Santander/Savings/

TSB/ClassicEnhance/2016A\.csv

TSB/ClassicEnhance/2016B\.csv

TSB/ClassicEnhance/2016C\.csv

TSB/ClassicEnhance/2016D\.csv

TSB/ClassicEnhance/2016E\.csv

TSB/ClassicEnhance/2017A\.csv

TSB/ClassicEnhance/2017B\.csv

TSB/ClassicEnhance/2017C\.csv

TSB/ClassicEnhance/2017D\.csv

TSB/ClassicEnhance/2017E\.csv

TSB/ClassicEnhance/2018A\.csv

TSB/ClassicEnhance/2018B\.csv

TSB/ClassicEnhance/2018C\.csv

TSB/ClassicEnhance/2018D\.csv

TSB/ClassicEnhance/2018E\.csv

TSB/ClassicPlus/2016A\.csv

TSB/ClassicPlus/2016B\.csv

TSB/ClassicPlus/2016C\.csv

TSB/ClassicPlus/2016D\.csv

TSB/ClassicPlus/2016E\.csv

TSB/ClassicPlus/2017A\.csv

TSB/ClassicPlus/2017B\.csv

TSB/ClassicPlus/2017C\.csv

TSB/ClassicPlus/2017D\.csv

TSB/ClassicPlus/2017E\.csv

TSB/ClassicPlus/2018A\.csv

TSB/ClassicPlus/2018B\.csv

TSB/ClassicPlus/2018C\.csv

TSB/ClassicPlus/2018D\.csv

TSB/ClassicPlus/2018E\.csv

TSB/EasySaver/2018\.csv

TSB/ISA/2018\.csv

__pycache__/startBalance\.cpython-36\.pyc

startBalance\.py

TSB/EasySaver/

TSB/ISA/

Nationwide/FlexclusiveSaver/2018\.csv

Nationwide/FlexiDirect/2018\.csv

Nationwide/ISA/2018\.csv

.idea/

__pycache__/

Monzo/AllTime.csv

Nationwide/FlexclusiveSaver/2019.csv

Nationwide/FlexiDirect/

Nationwide/ISA/

TSB/ClassicEnhance/

TSB/ClassicPlus/
